.input-groups {
    display: flex;
    margin-top: 40px;
    justify-content: flex-start;
    gap: 16px;
}

.input-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    & label {
        text-transform: var(--display-large-text-transform);
        font-family: var(--font-robot-flex);
        font-size: var(--display-label-small-font-size);
        font-weight: var(--display-label-medium-font-weight);
        line-height: var(--display-overline-line-height);
        color: var(--content-secondary);
    }

}

input {
    font-family: var();
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input-select {
    width: 86px;
    height: 52px;
    border-radius: 8px;
    border: 2px solid transparent;
    background-color: var(--background-secondary);
    font-family: var(--font-sora);
    font-weight: var(--display-label-medium-font-weight);
    font-size: var(--display-small-font-size);
    line-height: var(--display-overline-line-height);
    color: var(--content-primary);
    text-align: center;
    padding: 4px 8px;
}

.input-select:hover {
    border: 2px solid transparent;

    background:
        linear-gradient(var(--background-secondary), var(--background-secondary)) padding-box,
        linear-gradient(90deg,
            #77C0AF,
            #D1DC97,
            #E9A9B3,
            #D586E0,
            #91A1FA) border-box;

    background-size: 300% 300%;
    animation: gradientBorder 2s ease infinite;
}

@keyframes gradientBorder {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.input-select:focus {
    outline: none;
    border: 3px solid transparent;
    background:
        linear-gradient(var(--background-secondary), var(--background-secondary)) padding-box,
        linear-gradient(90deg,
            #77C0AF,
            #D1DC97,
            #E9A9B3,
            #D586E0,
            #91A1FA) border-box;
}