.result {
    margin-bottom: 40px;
    animation: opacityHidden 2s forwards;

    .title {
        h2 {
            text-align: center;
        }
    }
}

@keyframes opacityHidden {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.animation {
    animation: opacityHidden 2s forwards;
}

.paragraph-result {
    text-transform: var(--display-large-text-overline-transform);
    font-size: var(--display-overline-font-size);
    text-align: center;
    font-family: var(--font-robot-flex);
    font-size: var(--display-paragraph-medium-font-size);
    color: var(--content-secondary);
    line-height: var(--display-overline-line-height);
    font-weight: var(--display-label-medium-font-weight);
}

.result-box {
    position: relative;
    width: 70px;
    height: 70px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.results-values {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 48px;
    gap: 5px;
}

@keyframes popValue {
    0% {
        transform: scale(0.7);
        opacity: 0;
    }

    20% {
        transform: scale(1.3);
        opacity: 0;
    }

    25% {
        transform: scale(1.2);
    }

    70% {
        transform: scale(1.2);
        opacity: 1;
    }

    80% {
        transform: scale(1.23);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.result-value {
    font-family: var(--font-robot-mono);
    font-size: var(--display-medium-font-size);
    font-weight: var(--display-label-medium-font-weight);
    color: var(--color-inverse);
    padding: 10px;
    margin: 0;

    position: relative;
    z-index: 2;

    animation: popValue 2.5s forwards, mudarCor 3.5s forwards;
}

@keyframes mudarCor {
    0% {
        color: var(--color-inverse);
    }

    50% {
        color: var(--color-inverse);
    }

    100% {
        color: var(--content-brand);
    }
}

.animation-result {
    display: block;
    pointer-events: none;

    border-radius: 18px;
    padding: 5px;

    position: absolute;
    inset: 0;
    z-index: 1;

    animation: pop 2.5s forwards;

}

.animation-result::before {
    content: "";
    background-color: var(--content-brand);

    position: absolute;
    inset: 0;

    border-radius: inherit;

    animation: girar 2s ease forwards;
}

@keyframes girar {
    0% {
        transform: rotateZ(0);
    }

    30% {
        transform: rotateZ(0);
    }

    100% {
        transform: rotateZ(180deg);
    }
}

@keyframes pop {
    0% {
        transform: scale(0.7);
        opacity: 0;
    }

    20% {
        transform: scale(1.3);
        opacity: 1;
    }

    25% {
        transform: scale(1.2);
    }

    70% {
        transform: scale(1.2);
        opacity: 1;
    }

    80% {
        transform: scale(1.23);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 0;
    }
}

#sortear-again {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 56px;
    border-radius: 16px;
    border: none;
    background-color: var(--background-tertiary);
    font-family: var(--font-robot-mono);
    font-size: var(--display-overline-font-size);
    font-weight: var(--display-small-font-weight);
    text-transform: var(--display-large-text-overline-transform);
    color: var(--content-primary);
    gap: 8px;
    animation: opacityHidden 2s forwards;

    img {
        height: 24px;
        width: 24px;
    }
}

#sortear-again.hidden {
    display: none;
}